body {
    font-family: 'Trebuchet MS';
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #000ce6;
    color: white;
    text-align: center;
    padding: 20px;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Styling each section */
section {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
}

h2 {
    font-size: 2rem;
    color: #0073e6;
}

p {
    line-height: 1.6;
}


/* Footer Styling */
footer {
    background-color: #000ce6;
    color: white;
    text-align: center;
}

footer a {
    color: #ffcc00;
    font-weight: bold;
}